<!--The content below is only a placeholder and can be replaced.-->

<headerSel (featureSelected)="onNavigate($event)"> </headerSel>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
  
           <viewReportSel *ngIf="loadedFeature === constant.VIEW_REPORT"></viewReportSel>
           <createReportSel *ngIf="loadedFeature === constant.CREATE_REPORT " ></createReportSel>  
           <dynamicReportSel *ngIf="loadedFeature === constant.DYNAMIC_REPORT " ></dynamicReportSel>

      </div> 
    </div>  
  </div>
  <div class="container">
  
</div>
 <router-outlet></router-outlet>
