.cs-bottom-padding {    
    padding-bottom: 5 px;
  }

  .cs-top-margin {     
    margin-top: 2px;
    display:inline-block;
    background-color: dimgrey;  
  }

  .cs-right-align{
    display: flex;
    justify-content: flex-end;
  }

